*{
    pointer-events: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #4a4a5163; */
}
#back{
    width: 100%;
    height: 100vh;
    background-color: #e38b5f;
}
#work{
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width:1920px;
    height: 100vh;
    
    
}
#nav{
    width: 100%;
    padding: 20px 0;
}

#nav img{
    height: 70px;
}

#left{
    display: flex;
    align-items: center;
    gap: 50px;
}

#left a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: aliceblue;
}

#hleft .elm h1:nth-child(1){
    top:0;
}

#hleft .elm h1{
    position:absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;
}

#hleft .elm{
    position: relative;
    height: 10vw;
    overflow: hidden;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
    
}
#hleft{
    min-width: 50%;
    /* height: 100px; */
    
}
#hright{
    width: 25%;
    flex-direction: column;
    align-items: flex-end;

    display: flex;
    color: white;
    /* background-color: #4d5340; */
}

#hleft button{
    pointer-events: all;
    margin-top: 3vw;
    padding: 1vw 3vw;
    font-size: 4vw;
    font-family: "kajiro";
}

#hright{
    text-align: right;
    font-size: 13px;
    font-weight: 400;
}

#hright #imgdiv{
    width: 70%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #e38b5f;
}